body {
    background-color: black;
    text-align: center;
}

h1 {
    font-family: 'Stack Sans Notch', sans-serif;
    font-weight: 700;
    
}


img {
    width: 600px;
    height: 500px;
    margin-top: 30px;

    
}
h1 {
    color: white;
}

p {
 color: white;
}

.dont {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;

}
