body {
    background-color: black;
    text-align: center;
}

.coral-circle {
    background-color: coral;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 600px;
    margin-top: 30px;
    text-align: center;
}

h1 {
    font-family: 'Stack Sans Notch', sans-serif;
    font-weight: 700;
    
}


img {
    width: 600px;
    height: 500px;
    margin-top: 30px;

    
}
h1 {
    color: white;
}

p {
 color: white;
}

.dont {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
}